body {
    background: rgb(96, 210, 245)
}

header,
section {
    border: 2px solid rgba(255, 255, 255, 0.363);
    border-radius: 8px;
    margin: 20px;
    padding: 5px;
    background: rgba(0, 117, 128, 0.758);
}

hearder a {
    text-decoration: none;
    display: block;
}

section {
    width: 30%;
}

/*gestion du container parent des sections: main*/
main {
    display: flex;
    background: lightgreen;
    justify-content: space-between;
}

h1 {
    font-family: "Rowdies", sans-serif;
    font-weight: 400;
    font-style: normal;

}

body,h2 {
    font-family: "Tilt Neon", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "XROT" 0,
        "YROT" 0;

}

h1,
h2 {
    text-align: center;
    text-transform: uppercase;
}

ul li {
    line-height: 2.5rem;
}

article p :first-child,
.gras {
    font-weight: bold;
}

article p :nth-child(n+2) {
    color: blueviolet;
    text-indent: 15px;
}
@media only screen and (max-width: 600px) {
    body {
      font-size: 14px;
    }
  }
  